@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('modules/normalize.css');
@import url('modules/components/testimonial-container.css');
@import url('modules/attribution.css');


:root{
    --mobile-pattern-width: 375px;
    --desktop-pattern-width: 1440px;
    --primary-violet: hsl(263, 55%, 52%);
    --primary-light-blue: hsl(217, 19%, 35%);
    --primary-dark-blue: hsl(219, 29%, 14%);
    --primary-white: hsl(0, 0%, 100%);
    --neutral-gray: hsl(0, 0%, 81%);
    --neutral-light-gray: hsl(210, 46%, 95%);
    --opacity-50: 0.5;
    --opacity-70: 0.7;
    --font-weight-500: 500;
    --font-weight-600: 600;
}

q, blockquote, figure{
    margin: 0;
    padding: 0;
}

q{
    line-height: 1.5;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--neutral-light-gray);
    font-size: 13px;
}

.testimonial-section{
    border-radius: 8px;
    box-shadow: 1px 1px 20px hsla(217, 19%, 35%, 0.466);
}

.testimonial-section__container{
    margin: auto;
}

.testimonial-section--daniel-clifford,
.testimonial-section--patrick-abrams,
.testimonial-section--jonathan-walters{
    color: var(--neutral-light-gray);
}

.testimonial-section--patrick-abrams{
    background-color: var(--primary-dark-blue);
}

.testimonial-section--kira-whittle,
.testimonial-section--jeanette-harmon{
    color: var(--primary-dark-blue);
    background-color: var(--primary-white);
}

.testimonial-section--jonathan-walters{
    background-color: var(--primary-light-blue);
}

.testimonial-section--jonathan-walters .testimonial-section__thumbnail__avatar-image,
.testimonial-section--daniel-clifford .testimonial-section__thumbnail__avatar-image{
    border: 2px solid var(--primary-white);
}

.testimonial-section--patrick-abrams .testimonial-section__thumbnail__avatar-image{
    border: 2px solid var(--primary-violet);
}

.testimonial-section__header h3,
.testimonial-section__header p{
    padding: 0;
    margin: 0;
}

.testimonial-section__header{
    width: 100%;
}

.testimonial-section__thumbnail__status-verification{
    opacity: 50%;
}

.testimonial-section__thumbnail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-section__thumbnail-container{
    width: 20%;
    display: flex;
    align-items: center;
}

.testimonial-section__thumbnail__text{
    width: 80%;
    margin-left: 8px;
}

.testimonial-section__thumbnail__avatar-image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.testimonial-section--daniel-clifford{
    content: '';
    position: relative;
    z-index: 1000;
    background-color: var(--primary-violet);
    background-image: url('./../images/bg-pattern-quotation.svg');
    background-position: 85% top;
    background-size: 25%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 991px){
    .testimonial-section__container{
        padding: 10% 0;
        width: 85%;
    }

    .testimonial-section__thumbnail__text{
        position: relative;
        left: -5%;
    }

}

@media screen and (min-width: 992px){

    .testimonial-section__container{
        padding: 5% 0;
    }

    .testimonial-section--daniel-clifford .testimonial-section__thumbnail__text,
    .testimonial-section--patrick-abrams .testimonial-section__thumbnail__text{
        position: relative;
        left: -10%;
    }

    .testimonial-section__container{
        width: 85%;
    }

    .testimonial-section--jonathan-walters,
    .testimonial-section--jeanette-harmon,
    .testimonial-section--kira-whittle{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1400px){
    .testimonial-section__container{
        width: 87%;
    }
}



